.pricing {
    max-width: 100vw;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile {
        width: 100%;
        margin-top: 60px;
    }
}

.pricing h2 {
    text-align: center;

    @include mobile {
        font-size: 36px;
    }
}

.pricing-boxes {
    display: flex;
    align-items: center;

    @include mobile {
        flex-direction: column;
    }
}

.pricing-box1 {
    width: 372px;
    height: 461px;
    text-align: center;
    border: 1px solid var(--color-redish);
    border-radius: 18px;
    margin-top: 71px;

    @include mobile {
        max-width: 290px;
        max-height: 250px;
        margin-top: 15px;
    }
}

.pricing-box-content {
    @include mobile {
        position: relative;
        top: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

h3 {
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 14px;
    margin-top: 34px;

    @include mobile {
        margin:0;
    }
}

.pricing-box-header {
    @include mobile {
        margin-right: 15px;
    }
}

.prices {
    font-family: var(--secondary-font);
    font-size: 46px;
    font-weight: 300;
    color: var(--color-redish);
    margin-bottom: 69px;

    @include mobile {
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.pricing-box-list {
    font-family: var(--secondary-font);
    font-size: 14px;
    margin-bottom: 55px;

    @include mobile {
        margin: 0;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.pricing-box-button {
    position: relative;
    bottom: -49px;
    display: inline-block;
    color: var(--color-white);
    font-family: var(--secondary-font);
    font-size: 13px;
    font-weight: bold;
    background-color: #FB3B64;
    padding: 16px 57px;
    border-radius: 23px;
    cursor: pointer;

    @include mobile {
        bottom: -23%;
    }
}

.pricing-box-list li {
    margin-bottom: 20px;
}

.pricing-box-list-item::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    background-image: url("../images/Checkmark-1.svg");
    margin-right: 10px;
}

.pricing-box-list-item-no::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    background-image: url("../images/Close.svg");
    margin-right: 10px;
}

.limited-offer {
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 61px;

    @include mobile {
        margin: 0;
    }
}

.pricing-box2 {
    width: 405px;
    height: 500px;
    text-align: center;
    border: 1px solid var(--color-primary);
    border-radius: 18px;
    margin-left: 59px;
    margin-right: 59px;
    margin-top: 50px;

    @include mobile {
        max-width: 340px;
        max-height: 280px;
        margin-left: 0;
        margin-right: 0;
    }
    
    // .pricing-box-content {
    //     @include mobile {
    //         max-width: 293px;
    //     }
    // }
}

.pricing-box2 .prices {
    color: var(--color-primary);
    margin-bottom: 5px;
    padding-bottom: 22px
}

.pricing-box2 .pricing-box-list li {
    margin-bottom: 26px;
}

.pricing-box2 .pricing-box-button {
    background-color: var(--color-primary);
    bottom: -35px;

    @include mobile {
        bottom: -20%;
    }

}

.pricing-box3 {
    width: 372px;
    height: 461px;
    text-align: center;
    border: 1px solid var(--color-green);
    border-radius: 18px;
    margin-top: 71px;

    @include mobile {
        max-width: 290px;
        max-height: 250px;
    }
}

.pricing-box3 .prices {
    color: var(--color-green);
    margin-bottom: 5px;
    padding-bottom: 12px;
}

.pricing-box3 .pricing-box-button {
    background-color: var(--color-green);
    bottom: -29px;

    @include mobile {
        bottom: -23%;
    }
}
